node-red-data/flows.json
[{"id":"ddad530e31a0c1b1","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"db7638a081e2b206","type":"http in","z":"ddad530e31a0c1b1","name":"GET: Countries","url":"/countries","method":"get","upload":false,"swaggerDoc":"","x":180,"y":140,"wires":[["e157f5024ffa61a2"]]},{"id":"fe957182eb029b56","type":"http in","z":"ddad530e31a0c1b1","name":"GET: Concessions","url":"/concessions","method":"get","upload":false,"swaggerDoc":"","x":190,"y":260,"wires":[["d6bca461941fe67e"]]},{"id":"e56bbe8339b853b1","type":"json","z":"ddad530e31a0c1b1","name":"","property":"payload","action":"","pretty":false,"x":750,"y":140,"wires":[["9cc13eeb6e500190"]]},{"id":"9cc13eeb6e500190","type":"http response","z":"ddad530e31a0c1b1","name":"End","statusCode":"200","headers":{},"x":890,"y":140,"wires":[]},{"id":"89e80c38b759f2bc","type":"file in","z":"ddad530e31a0c1b1","name":"read ext-countries.json","filename":"./json-files/ext-countries.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":560,"y":140,"wires":[["e56bbe8339b853b1"]]},{"id":"66b2d73865ca8cbb","type":"http response","z":"ddad530e31a0c1b1","name":"End","statusCode":"200","headers":{},"x":930,"y":200,"wires":[]},{"id":"8227f9705a77acf2","type":"json","z":"ddad530e31a0c1b1","name":"","property":"payload","action":"","pretty":false,"x":790,"y":200,"wires":[["66b2d73865ca8cbb"]]},{"id":"79d86ee6ba6decc9","type":"file in","z":"ddad530e31a0c1b1","name":"read ext-countries-v2.json","filename":"./json-files/ext-countries-v2.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":590,"y":200,"wires":[["8227f9705a77acf2"]]},{"id":"9307c001e8d1707a","type":"http in","z":"ddad530e31a0c1b1","name":"GET: Countries v2","url":"/countries-v2","method":"get","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["6d4ab13f5b626a47"]]},{"id":"3eaa5ceedf0447a4","type":"http response","z":"ddad530e31a0c1b1","name":"End","statusCode":"200","headers":{},"x":890,"y":260,"wires":[]},{"id":"153f4f1523494bc6","type":"json","z":"ddad530e31a0c1b1","name":"","property":"payload","action":"","pretty":false,"x":750,"y":260,"wires":[["3eaa5ceedf0447a4"]]},{"id":"c7fdb21b759780b7","type":"file in","z":"ddad530e31a0c1b1","name":"read concessions.json","filename":"./json-files/concessions.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":560,"y":260,"wires":[["153f4f1523494bc6"]]},{"id":"e157f5024ffa61a2","type":"function","z":"ddad530e31a0c1b1","name":"log","func":"console.log(\"ext-countries has been called\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["89e80c38b759f2bc"]]},{"id":"6d4ab13f5b626a47","type":"function","z":"ddad530e31a0c1b1","name":"log","func":"console.log(\"ext-countries-v2 has been called\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["79d86ee6ba6decc9"]]},{"id":"d6bca461941fe67e","type":"function","z":"ddad530e31a0c1b1","name":"log","func":"console.log(\"concessions has been called\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":260,"wires":[["c7fdb21b759780b7"]]}]